html, body{
	background-color: lightgrey;
	position: relative;
	z-index: 2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2{
	z-index: 2;
}

canvas{
	position: absolute;
	transform:translateY(-43.3%);
	background:red;
	left:0;
	z-index: -1;
}